<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>View Users-Book Management System</title>
</head>
<body>
    <h1>Welcome to the Book Management System</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
        </ul>

        <ul>
            <li><a href="/books">View Books</a></li>
            <li><a href="/users" class="active">View users</a></li>
        </ul>

        <ul>
            <li><a href="/books/addBooks">Add Books</a></li>
            <li><a href="/users/addUsers">Add users</a></li>
        </ul>
    </nav>

    <h2>Users List</h2>
</body>
</html>